.botoesSuperiores {
  margin: 1.5em;
}

/* alinhamento do nome do usuario */
.dropName {
  display: flex;
  align-items: center;
}

/* retangulo azul */
.retangulo {
  width: auto;
  height: 16em;
  background-color: rgb(66, 136, 177);
  margin-bottom: 30px;
}

/* box cinza */
.view {
  display: flex;
  -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
  width: 95%;
  height: 16em;
  background-color: rgb(149, 158, 162);
}

/* box Da consulta */
.quadradolistahistorico {
  width: 25%;
  height: 14em;
  padding: 1em 1em;
  border-radius: 5px;
  background-color: rgb(230, 247, 255);
}

/* Parte da avaliação */
#infoBox {
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
  width: 73%;
  height: 14em;
  background-color: rgb(230, 247, 255);
  display: flex;
}

#infoBox p {
  margin-bottom: 0.125em;
}


/* Estrelas */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#starBox {
  width: 14em;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  display: inline-block;
  font-size: 30px;
  width: 1em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  color: #ccc;
}



.stars label:before {
  content: '\2605';
}

.stars input[type="radio"]:checked~label {
  color: #ffc107;
}

.stars {
  direction: rtl;
}

/* comentario */
.comments {
  margin-left: 1em;
}

.comments textarea {
  width: 100%;
}


/* Botões  */
.caixaBotoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

#saveBtn {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  padding: 3px;
  width: 10em;
  color: white;
  background-color: rgb(38, 214, 22);
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  cursor: pointer;
}

#limpar {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  padding: 3px;
  width: 10em;
  color: white;
  background-color: rgb(227, 129, 10);
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  cursor: pointer;
}

/* avaliacoes antigas */
.boxAvaliacoes {
  margin-top: 5em;

}

.reviews {
  margin-left: 2em;
  margin-right: 1em;
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

.fixed-footer {
	position: absolute;
	width: 100%;
  }

.panico {
  margin: auto;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: flex-end;

}