

.retangulo {
    width: auto;
    height: 200px;
    background-color: rgb(66, 136, 177);
    margin-bottom: 30px;
}

.view {
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.34);
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px;
    width: 95%;
    height: 200px;
    background-color: rgb(162, 149, 149);
}

.dropName{
	display: flex;
  align-items: center;
  }

  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  