#jumbotron-inicial {
    background-image: linear-gradient(to bottom, #b967da, #ffffff);
    border-radius: 0;
}
.lead {
  font-size: 24px;
}

.displayInicial, .leadInicial, #frase{
    text-align: center;
}
.grupo-de-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grupo-de-imagens img {
    margin: 0 10px;
    max-width: 20%;
  }
  
  html {
    scroll-behavior: smooth;
  }

  #oferecemos {
    scroll-margin-top: 10em;
  }
  
#frase{
  font-size:1.3em;
}

  .setas-frase {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: none;
    text-align: center;
    margin-top: 0px; /* ajuste o valor aqui */
  }

  .seta-esquerda {
    margin-right: 0.8em;
  }
    .seta-direita {
    margin-left: 0.8em;
  }

  .seta-esquerda:hover {
    color: #b967da;
  }    
  .seta-direita:hover {
    color: #b967da;
  }
 




